$colours: (
  developer: #00aaff,
  administrator: #4169e1,
  moderator: #32cd32,
  yoko-team: #00dfa6,
  user: #ffffff,
  founder: #00aaff,
  global-moderator: #7fff00,
  council: #ff8c00,
  co-founder: #00aaff,
  guest: #d1d1d1
);

