@mixin align-element($axis, $percentage) {
	@if $axis == 'y' { // Vertically aligned (y)
		top: $percentage; transform: translateY(-$percentage);
	}
	@elseif $axis == 'x' { // Horizontally aligned (x)
		left: $percentage; transform: translateX(-$percentage);
	}
	@else {
		top: $percentage; left: $percentage;
		transform: translate(-$percentage, -$percentage);
	}
}