$default: darken(#00aaff, 20%);
$cyan: #00aaff;
$cyan-border: darken($cyan, 10%);
// Red
$default-red: #ff2121;
$red: #ff0000;
$redish: #ff6347;
$light-red: #ff3737;
$icon-red: #ff2121;
$border-red-1: #cc0000;
$border-red-2: #880000;
$accent-red: #aa0000;
$dark-red: #220000;

// Yellow
$c-mustard: #a68e42;
//
$red: #ff0000;
$c-darkred: #240303;
$coral: #ff7F50;
$tomato: #ff6347;
$orangered:	#ff4500;
$c-darkorangered: #250c03;
$gold: #ffD700;
$orange: #ffA500;
$darkorange: #ff8C00;
$c-teal: #00dfa6;
$c-tealborder: #00936d;
$c-tealflat: #006455;
$c-darkcyan: #04142e;
$c-ddarkcyan: #001625;
$c-darkteal: #031f24;