@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes yt-swing {
  0% {
    left: 45%;
  }
  50% {
    left: 110%;
  }
  51% {
    left: -50%;
  }
  100% {
    left: 45%;
  }
}

@keyframes fade-in {
  from { opacity: 0; } 
  to { opacity: 1; }
}