@font-face { font-family: 'Icon'; src: url('~assets/fonts/yokoanime.ttf?ver=0.003'); font-weight: normal; }

@import './colours.scss';

.icon {
  font-weight: normal;
  font-family: 'Icon';

  &.off {
    color: rgba(nth($c-teal, 1), .4);
  }

  &.animated {
    transition: color .2s ease;

    &#icon-arrow {
      transition: opacity .2s ease;
    }
    &:hover {
      color: lighten(nth($c-teal, 1), 30%);
    }
    &.col-red:hover {
      color: lighten(nth($red, 1), 20%);
    }
    &.col-amber:hover {
      color: lighten(nth($tomato, 1), 20%);
    }
    &.col-yellow:hover {
      color: lighten(nth($gold, 1), 30%);
    }
  }

  &.lnk {
    cursor: pointer;
  }

  &#icon-close:before {
    content: "\e5cd";
  }

  &#icon-continue:before {
    content: "\e31c";
  }

  &#icon-cog:before {
    content: "\e927";
  }

  &#icon-menu:before {
    content: "\e5d2";
  }

  &#icon-pulse:before {
    content: "\e90b";
  }

  &#icon-home:before {
    content: "\e901";
  }

  &#icon-news:before {
    content: "\e906";
  }

  &#icon-anime:before {
    content: "\e903";
  }

  &#icon-ova:before {
    content: "\e902";
  }

  &#icon-movie:before {
    content: "\e905";
  }

  &#icon-manga:before {
    content: "\e904";
  }
  
  &#icon-list:before {
    content: "\e907";
  }

  &#icon-changelog:before {
    content: "\e908";
  }

  &#icon-faq:before {
    content: "\e909";
  }

  &#icon-search:before {
    content: "\e90a";
  }

  &#icon-login:before {
    content: "\e90c";
  }

  &#icon-star:before {
    content: "\e90e";
  }

  &#icon-half-star:before {
    content: "\e90d";
  }

  &#icon-play:before {
    content: "\e911";
  }

  &#icon-empty-star:before {
    content: "\e90f";
  }

  &#icon-admin:before {
    content: "\e910";
  }

  &#icon-warning:before {
    content: "\e912";
  }

  &#icon-heart:before {
    content: "\e913";
  }

  &#icon-bookmark:before {
    content: "\e914";
  }

  &#icon-share:before {
    content: "\e915";
  }

  &#icon-return:before {
    content: "\e922";
  }

  &#icon-prev:before {
    content: "\e919";
  }

  &#icon-next:before {
    content: "\e91a";
  }

  &#icon-minus:before {
    content: "\e91d";
  }

  &#icon-plus:before {
    content: "\e91e";
  }

  &#icon-edit:before {
    content: "\e91c";
  }

  &#icon-left:before {
    content: "\e91f";
  }

  &#icon-right:before {
    content: "\e920";
  }

  &#icon-calendar:before {
    content: "\e921";
  }

  &#icon-accept:before {
    content: "\e923";
  }

  &#icon-decline:before {
    content: "\e924";
  }


  &#icon-arrow {
    border: none;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #00dfa6;
    
    opacity: 0;
  }	
}
