<template>
  <div class="anime">
    <div v-if="anime" class="page">
      <router-view :data="bindAdmin"></router-view>
      <section class="playing">
        <div class="title">
          <vcIcon v-bind="iconReturn"></vcIcon>
          <div class="thumbnail" :style="{ backgroundImage: `url('${anime.Cover}')` }"></div>
          <div class="watching">
            <label class="title-anime"><span>{{ anime.JPTitle }}</span></label>
            <label v-if="$route.params.episode" class="title-episode"><span>{{ `Episodul ${playing.Episode} - ${playing.ROTitle}` }}</span></label>
          </div>
          <div class="controls">
            <vcButton v-bind="btnReport" v-tooltip="{ text: `Raportează o eroare` }"></vcButton>
            <vcIcon v-bind="iconAdmin" v-tooltip="{ text: `Panoul de moderare` }"></vcIcon>
          </div>
        </div>
        <div class="video-wrapper">
          <div class="video">
            <iframe v-if="viewReseted && $route.params.episode && readyToPlay" :src="sources[selectedSource]" allowfullscreen="true" scrolling="no"></iframe>
            <video v-else-if="viewReseted && playing.Trailer" :src="playing.Trailer" autoplay="1" loop="1"></video>
            <img v-else-if="viewReseted && playing.Cover" :src="playing.Cover" />
          </div>
          <div v-if="viewReseted" class="play-overlay" :class="{ ready: !$route.params.episode || readyToPlay }" @click="ready">
            <vcIcon icon="play"></vcIcon>
          </div>
        </div>
        <div class="playlist-wrapper">
          <ul class="playlist">
            <li v-for="(episode, id) in anime.episodeList" :key="id">
              <router-link class="item"  :to="`/anime/${$route.params.anime}/episode/${episode.EpisodeID}/`">
                <vcIcon v-if="selectedEpisode == id" class="item-id" icon="play" spacing="0"></vcIcon>
                <span v-else class="item-id">{{ episode.Episode }}</span>
                <div class="thumbnail" :style="{ backgroundImage: `url('${episode.Cover}')` }"></div>
                <span class="item-title">{{ episode.ROTitle }}</span>
                <div class="item-control">
                  <vcIcon icon="admin" size="m" fx="default" spacing="0" :href="`/anime/${$route.params.anime}/episode/${episode.EpisodeID}/admin`"></vcIcon>
                </div>
              </router-link>
            </li>
          </ul>
        </div>
        <div v-if="$route.params.episode && readyToPlay" class="sources-wrapper">
          <div class="sources">
            <vcButton v-for="(source, id) in btnSources" v-bind="source" :key="id"></vcButton>
          </div>
        </div>
        <div class="social">
          <vcIcon v-bind="iconShare"></vcIcon>
          <vcButton v-bind="btnLike"></vcButton>
          <vcButton v-bind="btnSubscribe"></vcButton>
        </div>        
      </section>
      <ul class="info" :class="[ info ]">
        <li v-if="!$route.params.episode" id="info-title">
          <label>TITLUL SERIEI</label>
          <span>{{ anime.ENTitle }}</span>
        </li>
        <li v-if="!$route.params.episode" id="info-episodes">
          <label>NUMĂR EPISOADE</label>
          <span>{{ anime.Episodes }}</span>
        </li>
        <li v-if="!$route.params.episode" id="info-duration">
          <label>DURATĂ EPISOD</label>
          <span>{{ duration }}</span>
        </li>
        <li v-if="!$route.params.episode" id="info-genre">
          <label>GENUL SERIEI</label>
          <span>{{ genre }}</span>
        </li>
        <li v-if="!$route.params.episode" id="info-rating">
          <label>NOTA SERIEI</label>
          <span v-html="rating"></span>
        </li>
        <li v-if="!$route.params.episode" id="info-published">
          <label>DATA PREMIEREI</label>
          <span>{{ getDate(anime.Published) }}</span>
        </li>
        <li v-if="!$route.params.episode" id="info-airing">
          <label>ÎN CURS</label>
          <span>{{ getDate(anime.Airing) }}</span>
        </li>
        <li v-if="!$route.params.episode" id="info-myanimelist">
          <label>myAnimeList ID</label>
          <span>
            <a :href="`https://myanimelist.net/anime/${anime.myAnimeList}/`" target="_blank">{{ anime.myAnimeList }}</a>
          </span>
        </li>
        <li v-if="!$route.params.episode" id="info-coordinators">
          <label>COORDONATORI</label>
          <span>
            <span class="user" v-for="(user, id) in anime.Coordinators" :key="id">
              <vcUser :data="user"></vcUser><template v-if="id + 1 < anime.Coordinators.length">, </template>
            </span>            
          </span>
        </li>
        <li id="info-encoders">
          <label>ENCODERI</label>
          <span>
            <span class="user" v-for="(user, id) in playing.Encoders" :key="id">
              <vcUser :data="user"></vcUser><template v-if="id + 1 < playing.Encoders.length">, </template>
            </span> 
          </span>
        </li>
        <li id="info-translators">
          <label>TRADUCĂTORI</label>
          <span>
            <span class="user" v-for="(user, id) in playing.Translators" :key="id">
              <vcUser :data="user"></vcUser><template v-if="id + 1 < playing.Translators.length">, </template>
            </span>   
          </span>
        </li>
        <li id="info-verifiers">
          <label>VERIFICATORI</label>
          <span>
            <span class="user" v-for="(user, id) in playing.Verifiers" :key="id">
              <vcUser :data="user"></vcUser><template v-if="id + 1 < playing.Verifiers.length">, </template>
            </span>   
          </span>
        </li>
        <li id="info-description">
          <label>DESCRIERE</label>
          <span>{{ playing.RODesc }}</span>
        </li>        
      </ul>
    </div>
    <div v-else class="loading">
      Loading
    </div>
  </div>
</template>

<script>
import _ from 'lodash/lodash.min.js';
import util from '../../../../util.funcs.js';
import vaAnimeEdit from '../../admin/AnimeEdit.admin.vue';

export default {
  props: [ "anime" ],
  data() {
    return {
      playing: false,
      viewReseted: true,
      readyToPlay: false,
      selectedSource: 0,
      selectedEpisode: null,
      buttons: {
        placeholder: { name: "anime-placeholder", icon: "icon-half-star", text: "Placeholder", type: 'grad' }
      }
    }
  },
  methods: {
    getDate(timestamp) {
      if (!timestamp) return '?';

      return util.str.date(timestamp);
    },
    ready() {
      this.readyToPlay = true;
    },
    getView(episode=null) {
      if (episode == null) return this.anime;
      for (let i = 0; i < this.anime.episodeList.length; i++) {
        if (this.anime.episodeList[i].EpisodeID == episode) {
          this.selectedEpisode = i;

          this.$nextTick(() => {
            let el = document.querySelector(".playlist");
            TweenLite.to(el, .8, {
              scrollTo: util.clampMin(i*68 - (el.clientHeight-68)/2 + 4, 0), // item * <item height> - (height - <item height>) / 2 + 4 <top padding>
              ease: Power4.easeOut
            })
          })
          break;
        }
      }
      return this.anime.episodeList[this.selectedEpisode];
    },
    selectSource(source) {
      this.selectedSource = source;
    },
    resetView() {
      this.viewReseted = false;
      this.readyToPlay = false;
      this.selectedEpisode = null;
      this.selectedSource = 0;    
      setTimeout(() => { this.viewReseted = true; }, 10);
    }
  },
  watch: {
    'anime': function(to, from) {
      if (!to) return;
      this.playing = this.getView(this.$route.params.episode);
    },
    '$route.params': function(to, from) {
      if (_.isEqual(to, from)) return;

      this.resetView();
      this.playing = this.getView(to.episode);
    }
  },
  computed: {
    info() {
      if(this.selectedEpisode != null) return `episode`;
      return `anime`;
    },
    sources() {
      return (this.selectedEpisode != null) ? this.playing.SourceRef.split('|') : []
    },
    btnSources() {
      let sources = [];
      for (let i = 0; i < this.sources.length; i++) {
        sources.push({ icon: "play", text: util.getDomain(this.sources[i]), type: "opac", click: this.selectSource(i) });
      }
      return sources;
    },
    bindAdmin() {
      return {
        component: vaAnimeEdit,
        props: {
          data: {
            anime: this.anime,
            episode: (this.selectedEpisode != null) ? this.playing : null
          }
        }
      };
    },
    iconAdmin() {
      let href = this.$route.path.split('/').filter((path) => path.length);
      href.push('admin')

      return { icon: "admin", size: "m", fx: "default", href: `/${href.join('/')}` }
    },
    btnReport() {
      return { name: "report", icon: "warning", text: "Report", type: 'minimal' }
    },
    iconShare() {
      let onclick = function() { };
      return { icon: "share", size: "m", fx: "default", click: onclick }
    },
    btnLike() {
      return { name: "like", icon: "heart", text: "1337", type: 'minimal' }
    },
    btnSubscribe() {
      return { name: "subscribe", icon: "star", text: "1337", type: 'minimal' }
    },
    iconReturn() {
      let href = `/anime`;
      if (this.$route.params.episode) href += `/${this.$route.params.anime}`;
      return { icon: "return", size: "m", fx: "default", href: href }
    },
    first() {
      return { name: "anime-first", icon: "icon-play", text: "Primul episod", type: 'grad', href: `/anime/${this.$route.params.anime}/episode/${this.anime.episodeList[0].EpisodeID}` }
    },
    last() {
      return { name: "anime-last", icon: "icon-play", text: "Ultimul episod", type: 'grad', href: `/anime/${this.$route.params.anime}/episode/${this.anime.episodeList[this.anime.episodeList.length-1].EpisodeID}` }
    },
    seen() {
      return { name: "anime-seen", icon: "icon-bookmark", text: "Marchează ca vizionat", type: 'grad' }
    },    
    duration() {
      return `${this.anime.Duration} min.`;
    },
    genre() {
      let genre = this.anime.Genre.map((genre) => genre);
      genre.splice(3);

      return genre.join(', ');
    },
    rating() {
      let rating = "";
      for (let j = 2; j <= this.anime.Rating; j+=2) {
        rating += `<i class="icon icon-star"></i>`;
      }
      if (this.anime.Rating % 2) {
        rating += `<i class="icon icon-half-star"></i>`;
      }
      for (let j = 2; j <= 10-this.anime.Rating; j+=2) {
        rating += `<i class="icon icon-empty-star"></i>`;
      }
      return `${rating} <span class="rating">(${this.anime.Rating})</span>`;
    }
  }
}
</script>

<style lang="scss">
@import "~styles/defines/colours.scss";
@import "~styles/defines/fx.scss";

.__vp#vp-anime .anime .page {
  animation: fade-in .4s ease;

  .dropdown { // all dropdowns
    z-index: 0;
  }

  .playing {
    display: grid;
    grid-template-columns: 6fr 4fr;
    grid-template-rows: 70px 1fr auto;
    grid-template-areas: "title title" "video playlist" "sources social";
    padding: 10px;
    @media only screen and (max-width: 1260px) {
      grid-template-columns: 1fr;
      grid-template-rows: 70px 1fr auto auto 275px;
      grid-template-areas: "title" "video" "sources" "social" "playlist";
    }    

    .thumbnail { // thumbnail in title and playlist
      flex: 0 0 100px;
      display: flex;
      align-items: center;
      position: relative;
      overflow: hidden;
      height: 100%;
      border: 1px solid $c-tealflat;
      background-size: cover;
    } 

    .title {
      grid-area: title;
      display: grid;
      grid-template-areas: "return thumbnail watching control";
      grid-template-columns: auto 100px auto minmax(max-content, 1fr);
      grid-column-gap: 8px;
      align-items: center;
      padding: 8px;
      border: 1px solid $c-tealflat;
      background-color: rgba($c-tealflat, .6); 

      .icon-return {
        grid-area: return;
      }

      .thumbnail {
        grid-area: thumbnail;
      }

      .watching {
        grid-area: watching;
        overflow: hidden;
        label {
          display: block;
          overflow: hidden;
          padding-left: 2px;
          padding-right: 2px;
          min-height: 18px;

          span { 
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          &.title-episode {
            color: darken($c-teal, 10%);
          }
        }
      }

      .controls {
        grid-area: control;
        align-self: center;
        justify-self: flex-end;
      }
    }
    
    .video-wrapper {
      grid-area: video;
      position: relative;
      
      div.video {
        position: relative;
        height: 0;
        padding-bottom: 56.25%;
        overflow: hidden;

        > * { animation: fade-in .4s ease }

        &:before {
          content: "";
          position: absolute;
          height: 100%;
          width: 100%;
          background-color: $c-darkcyan;
        }

        > iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }

        > video, > img {
          position: absolute;
          width: 100%;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }

    div.play-overlay {					
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;        
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(black, .6);
      color: darken($c-teal, 10%);
      cursor: pointer;        
      opacity: 1;
      visibility: visible;

      transition: opacity .2s ease, visibility .2s ease;
      animation: fade-in .8s ease;
      &.ready {          
        opacity: 0;
        visibility: hidden;
      }

      .icon-play {
        font-size: 140px;
        cursor: inherit;

        transition: all .2s ease;
      }

      &:hover .icon-play {
        font-size: 180px;
        color: lighten($c-teal, 10%);
      }
    }

    .playlist-wrapper {
      grid-area: playlist;
      position: relative;

      .playlist {
        align-items: center;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: rgba($c-darkcyan, .8);
        overflow-y: auto;
        padding: 4px 8px 4px 0;

        .item {
          display: flex;
          height: 60px;
          padding: 4px 0 4px 0;
          align-items: center;

          .item-id {
            flex: 0 0 30px;
            text-align: center;

            &.icon {
              font-size: 20px;
            }
          }

          &:not(.router-link-active) {
            .thumbnail:before {
              content: "";
              position: absolute;
              left: 0;
              right: 0;
              top: 0;
              bottom: 0;
              background-color: rgba(black, .6);
              opacity: 0;

              transition: opacity .2s ease;
            }

            .thumbnail:after {
              flex: 1;
              content: "\e911";
              position: relative;
              font-family: "Icon";
              font-size: 30px;
              text-align: center;
              opacity: 0;

              transition: opacity .2s ease;
            }

            &:hover {
              .thumbnail:before {
                opacity: 1;
              }
              .thumbnail:after {
                opacity: 1;
              }
            }
          }

          .item-title {
            flex: 1;
            margin-left: 8px;
            margin-right: 8px;
            @media only screen and (min-width: 1260px) {
              font-size: 0.8vw
            }
            max-height: 100%;
            overflow: hidden;
          }

          &:hover .item-control {
            opacity: 1;
          }

          .item-control {
            position: relative;
            flex: 0 0 30px;
            align-self: stretch;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            justify-content: space-evenly;
            
            opacity: 0;
            transition: opacity .2s ease;
            z-index: 2;
          }
        }
      }
    }

    .social {
      grid-area: social;
      align-self: center;
      justify-self: flex-end;
      margin-top: 6px;
      margin-bottom: 6px;
    }

    .sources-wrapper {
      grid-area: sources;
      justify-self: center;
      margin-top: 5px;
      margin-bottom: 5px;
      overflow: hidden;

      .sources {
        position: relative;
        animation: slide_down .4s ease;

        .button {
          margin-left: 5px;
          margin-right: 5px;
        }
      }
    }
  }
  ul.info {
    display: grid;  
    &.anime {
      grid-template-areas: "title episodes duration genre"
                           "rating published airing myanimelist"
                           "coordinators encoders translators verifiers"		
                           "description description description .";			
    }
    &.episode {
      grid-template-areas: "description description description   .   "
                           "     .      encoders translators verifiers";
    }
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: minmax(80px, auto);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin-top: 20px;
    border-radius: 4px;
    border: 1px solid $c-darkcyan;
    background-color: rgba(black, .4);
    li {
      padding: 10px;
      &#info-title {
        grid-area: title;
      }
      &#info-episodes {
        grid-area: episodes;
      }
      &#info-duration {
        grid-area: duration;
      }
      &#info-genre {
        grid-area: genre;
      }
      &#info-rating {
        grid-area: rating;

        .icon {
          font-size: 20px;
        }

        .rating {
          margin-left: 2px;
          font-size: 10px;
          vertical-align: top;
        }
      }
      &#info-published {
        grid-area: published;
      }
      &#info-airing {
        grid-area: airing;
      }
      &#info-myanimelist {
        grid-area: myanimelist;
      }
      &#info-coordinators {
        grid-area: coordinators;
      }
      &#info-encoders {
        grid-area: encoders;
      }
      &#info-translators {
        grid-area: translators;
      }
      &#info-verifiers {
        grid-area: verifiers;
      }      
      &#info-description {
        grid-area: description;
        span {
          text-align: justify;
        }
      }
      label, > span {
        display: block;
        padding: 5px;
        color: $c-teal;
      }
      label {
        border-bottom: 2px solid darken($c-teal, 20%);
        color: darken($c-teal, 20%);
        font-family: 'Titillium Web';
        font-size: 14px;
        font-weight: 600;     
      }
    }
  }
}

@keyframes slide_left {
	from { transform: translateX(110%); }
	to { transform: translateX(0); }
}
@keyframes slide_right {
	from { transform: translateX(-110%); }
	to { transform: translateX(0); }
}
@keyframes slide_up {
	from { transform: translateY(50px); }
	to { transform: translateY(0); }
}
@keyframes slide_down {
	from { transform: translateY(-50px); }
	to { transform: translateY(0); }
}
</style>