<template>
  <div class="__vp" id="vp-anime">
    <router-view v-if="$route.params.anime" :anime="anime"></router-view>
    <div v-else class="list" id="anime">      
      <router-link v-for="(anime, id) in animeList" :key="id" :to="`/anime/${anime.LinkID}`" class="wrapper">        
        <label class="title">{{ anime.JPTitle }}</label>      
        <div class="cover">  
          <img :src="anime.Cover" height="100%" />
        </div>
      </router-link>
    </div>
  </div>
</template>

<script>
import io from '../../../../io.loader.js';

export default {
  data() {
    return {
      anime: false,
      buttons: {
        admin: { name: "episode-admin", icon: "icon-admin", text: "Admin", type: 'opac',
          dropdown: { data: [], visible: false, style: "absolute" }
        }
      },
      dropdowns: {
        admin: [ ]
      },
    }
  },
  async mounted() {
    await this.getAnimeData(this.$route.params.anime);
  },
  computed: {
    animeList() {
      return this.$store.state.anime;
    },
    admin() {
      this.dropdowns.admin = [];
      this.dropdowns.admin.push({ name: "add-anime", icon: "icon-admin", text: "Adaugă anime", type: 'opac', href: `/anime/add-anime` });
      this.dropdowns.admin.push({ name: "delete-anime", icon: "icon-admin", text: "Șterge anime", type: 'opac', href: `/anime/delete-anime` });
      this.buttons.admin.dropdown.data = this.dropdowns.admin;
      return this.buttons.admin;
    }
  },
  methods: {
    async getAnimeData(anime) {
      if(!anime) return;

      this.anime = false;
      try {
        let data;

        data = (await io.async.emit('/v2/anime/load.specific.io', { anime }))[0];
        if (anime != this.$route.params.anime) return;

        data.episodeList = (await io.async.emit('/v2/episode/load.io', { anime }));
        if (anime != this.$route.params.anime) return;

        this.anime = data;
      }
      catch(err) {
        console.error(err)
      }
    }
  },
  watch: {
    '$route.params.anime': async function(to, from) {
      await this.getAnimeData(to);
    }
  }
}
</script>

<style lang="scss">
@import "~styles/defines/colours.scss";

.__vp#vp-anime .list#anime {
  display: grid;
  grid-template-columns: repeat(auto-fit, 180px);
  grid-auto-rows: 280px;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  justify-content: space-around;
  justify-content: space-evenly;
  animation: fade-in .4s ease;

  .wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    border: 1px solid $c-teal;
    border-radius: 2px;
    max-width: 180px;
    overflow: hidden;
    
    transition: color .15s linear, box-shadow .15s linear;
    label.title {
      position: relative;
      display: block;
      padding: 5px 4px 5px 4px;
      border-bottom: 1px solid $c-teal;
      background-color: rgba($c-teal, .2);
      text-align: center;			
      white-space: nowrap;	
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &:hover {
      div.cover:after {
        background-color: rgba(#000, .5);
      }
      box-shadow: 0 0 3px 1px $c-teal;
    }

    div.cover {
      flex: 1;
      position: relative;

      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(#000, .2);
        transition: background .2s linear;
      }

      img {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}
.fx-body-enter {
  opacity: 0;
}

.fx-body-leave-active {
  opacity: 0;
}
</style>
