<template>
  <main id="vue-app">
    <div class="background"></div>
    <vmWindow></vmWindow>
    <vmNotification></vmNotification>
    <vcTooltip></vcTooltip>
    <!-- static elements -->
    <vmHeader></vmHeader>
    <vmBody></vmBody>
  </main>
</template>

<script>
import io from '../io.loader.js';
import util from '../util.funcs.js';

export default {
  created() {
    io.connection.on('connect', () => {
      console.log("connected");
    })

    io.connection.emit('/v2/connect.io', { auth: localStorage.getItem('Session-Auth') }, (data) => {
      if (data.UserID) this.$store.state.session = { user: data }
      else this.$store.state.session = { guest: data }
    })
  },
  async mounted() { 
    try {
      await this.$store.commit('loadAnime')
      await this.$store.commit('loadOVA')
      await this.$store.commit('loadMovie')
      await this.$store.commit('loadManga')
    }
    catch(err) {
      console.error(err);
    }
  }
}
</script>

<style lang="scss">
#vue-app {
  height: 100%;
  
  .background {
    position: fixed;
    width: 100%;
    height: 100%;
    background: url("~assets/images/bg-app-hd.jpg");
    background-size: cover;
    z-index: -1;
  }
}
</style>

