<template>
  <section class="__vm-body">
    <vmSidebar></vmSidebar>
    <transition @enter="show" @leave="hide" mode="out-in"> 
      <router-view></router-view>
    </transition>
    <vmSocial></vmSocial>
  </section>
</template>

<script>
export default {
  mounted() {
    this.scrollView();
  },
  methods: {
    show(el, done) {
      el.style.opacity = 0;
      Velocity(el, "stop", true);
      Velocity(el, {
        opacity: 1
      }, { easing: "swing", duration: 200, complete: done })
    },
    hide(el, done) {
      Velocity(el, "stop", true);        
      Velocity(el, {
        opacity: 0
      }, { easing: "swing", duration: 200, complete: done })
    },
    scrollView() {
      this.$nextTick(function() {
        let el = document.querySelector('.__vp');
        TweenLite.to(el, 5, {
          delay: .1,
          scrollTo: 0,
          ease: Power4.easeOut          
        })
      })
    }
  },
  watch: {
    '$route.path': function(to, from) {      
      this.scrollView();
    }
  }
}
</script>

<style lang="scss">
.__vm-body {
  display: flex;
  position: absolute;
  top: 45px;
  right: 0;
  bottom: 0;
  left: 0;
  min-width: 1260px;

  .__vp {
    flex: 1;
    background-color: rgba(#000, .4);
    padding: 10px;
    overflow-y: auto;
  }
}
</style>
