<template>
  <section class="__vm" id="vm-footer">

  </section>
</template>

<script>
export default {

}
</script>

<style lang="scss">
@import "~styles/defines/colours.scss";

.__vm#vm-footer {
  grid-area: footer;
  border-top: 1px solid $c-teal;
  background-color: rgba(#000, .4);
}
</style>
