<template>
  <section class="__vm" id="vm-header">
    <div class="side-1">
      <vcIcon icon="menu" size="l" fx="default" :click="toggleMenu" v-tooltip="{ text: `showmenu` }"></vcIcon>
      <vcIcon icon="yoko" href="/"></vcIcon>
      <vcIcon icon="pulse" size="l" fx="default" :click="() => {}"></vcIcon>
    </div>
    <div class="side-2" :class="`session-${session}`">
      <vcButton name="changelog" icon="changelog" text="Noutăți" type="opac" href="/changelog"></vcButton>
      <vcButton name="faq" icon="faq" text="F.A.Q." type="opac" href="/faq" v-tooltip="{ text: `test` }"></vcButton>
      <div class="search">
        <input type="text" placeholder="Caută" />
				<button class="icon" id="icon-search"></button>
      </div>
      <div v-if="session" class="session">
        <vcButton v-bind="bindSession"></vcButton>
      </div> 
      <div v-else class="session">
        loading
      </div>
    </div>
   </section>
</template>

<script>
export default {
  data() {
    return {
      buttons: {
        session: { }
      }
    }
  },
  computed: {
    session() {
      return (this.$store.state.session.user) ? 'user' : (this.$store.state.session.guest) ? 'guest' : false;
    },
    bindSession() {
      this.buttons.session = (this.$store.state.session.user) ? this.user() : (this.$store.state.session.guest) ? this.guest() : false;
      return this.buttons.session;
    },
  },
  methods: {
    guest() {
      return { name: "guest", icon: "login", text: "Autentificare", type: 'grad' }
    },
    user() {
      return { 
        name: "user", icon: "is-avatar", img: "http://i.imgur.com/vLbnU8q.jpg", text: this.$store.state.session.user.Name, type: 'opac', 
          dropdown: {
            data: [
              { icon: "ova", text: "test", type: 'opac', href: `/ova/` },
              { icon: "ova", text: "test", type: 'opac', href: `/ova/` },
              { icon: "ova", text: "test", type: 'opac', href: `/ova/` },
              { icon: "ova", text: "test", type: 'opac', href: `/ova/` },
              { icon: "ova", text: "test", type: 'opac', href: `/ova/` },
              { icon: "ova", text: "test", type: 'opac', href: `/ova/` },
              { icon: "ova", text: "test", type: 'opac', href: `/ova/` },
              { icon: "ova", text: "test", type: 'opac', href: `/ova/` },
              { icon: "ova", text: "test", type: 'opac', href: `/ova/` },
              { icon: "ova", text: "test", type: 'opac', href: `/ova/` }
            ],
            visible: false,
            style: "absolute"
          }
        }
    },
    toggleMenu() {
      this.$store.state.UI.sidebar = !this.$store.state.UI.sidebar;
    }
  }
}
</script>

<style lang="scss">
@import "~styles/defines/colours.scss";

.__vm#vm-header {
  display: flex;
  position: relative;
  top: 0; left: 0; right: 0;
  height: 44px;
  min-width: 1024px;
  border-bottom: 1px solid $c-tealborder;
  background: url("~assets/images/bg-app-hd.jpg");
  background-size: cover;
  background-position: left top;
  background-attachment: fixed;
  z-index: 50;	
  
  .side-2 {
    flex: 1;
    display: grid;
    grid-template-areas: "changelog faq . search . session";
    &.session-loading {		
      grid-template-columns: min-content min-content auto minmax(200px, 500px) auto auto;
    }
    &.session-guest {
      grid-template-columns: min-content min-content auto minmax(200px, 500px) auto min-content;
    }
    &.session-user {
      grid-template-columns: min-content min-content auto minmax(200px, 500px) auto 250px;
    }	
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;

    .button {
      padding: 8px 25px 8px 25px;
    }

    .dropdown .button {
      padding: 2px 4px 2px 4px;
    }

    .button-changelog {
      grid-area: changelog;
      margin-left: 10px;
    }
    .button-faq {
      grid-area: faq;
      margin-left: 10px;
    }
    .button-login > .button {
      padding: 6px 20px 6px 20px;
    }
    .button-user > .button {
      padding: 4px;
      .icon-is-avatar {
        flex: 0 0 26px;
        height: 26px;
				border-radius: 2px;
				box-shadow: 0 -1px 0 $c-teal inset, 0 1px 0 $c-teal inset;
      }
    }
    .session {
      grid-area: session;
      display: flex;
      justify-content: flex-end;
      margin-left: 15px;
    }
    .search {
      display: flex;
      grid-area: search;
      margin-left: 15px;
	  
      input {
        flex: 1;        
        padding: 5px 5px 5px 8px;
        border: 2px solid $c-tealborder;
        border-right-width: 1px;
        border-left: none;
        border-radius: 10px 0 0 10px;		
        color: $c-teal;

        transition: border-color .2s ease, background-color .2s ease;
        &:hover, &:focus {
          border-color: $c-teal;
        }
        &:focus {
          background-color: rgba($c-teal, .1);
        }
      }
      button {
        flex: 0 0 70px;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        border: 2px solid $c-tealborder;
        border-left-width: 1px;
        border-right: 0;        
        border-radius: 0 10px 10px 0;		
        background-color: rgba(#000, .4);
        color: $c-teal;
        cursor: pointer;

        transition: border .2s ease;
        &:focus, &:hover {
          outline: none;
          border-color: $c-teal;
        }
      }
    }
  }

  .side-1 {
    flex: 0 0 260px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .icon-yoko {
      flex: 0 0 auto;
      position: relative;
      width: 125px;
      height: 44px;
      background: url("~assets/images/logo-yoko-small.png") no-repeat;
      background-size: contain;
      background-position: center center;
      transition: opacity .4s ease;
      &:hover {
        opacity: .8;
      }
      &:before {
        content: "v2";
        position: absolute;			
        top: 5px;
        left: 5px;
        color: #189376;
        font-family: 'Titillium Web';
        font-weight: bold;
        font-size: 12px;
        text-shadow: 0 3px 3px #000;
      }
      &:after {
        content: "TV";
        position: absolute;			
        right: 2px;
        bottom: 5px;
        color: #189376;
        font-family: 'Titillium Web';
        font-weight: bold;
        font-size: 12px;
        text-shadow: 0 3px 3px #000;
      }
    }
  }
}
</style>
