<template>
  <section class="__vm" id="vm-notification">
    <transition-group tag="ul" class="notifications" name="fx-notification">
      <li v-for="notification in data" :key="notification.id" :class="[ notification.type ]">{{ notification.message }}</li>
    </transition-group>
  </section>
</template>

<script>
export default {
  props: [ "data" ],
  computed: {
    notifications() {
      return this.$store.state.UI.notifications;
    }
  }
}
</script>

<style lang="scss">
@import "~styles/defines/colours.scss";
.__vm#vm-notification {
  position: fixed;
  bottom: 0; left: 0; right: 0;
  z-index: 4;

  ul.notifications {
    position: relative;
    max-height: 110px;
    margin: 2px 5px 2px 5px;
    border-radius: 2px;
    font-size: 13px;
    font-weight: 600;
    overflow: hidden;

    li {
      display: flex;
      align-items: center;
      position: relative;
      height: 32px;
      padding: 0 10px 0 10px;
      margin: 2px 0 2px 0;
      border-radius: 2px;
      overflow: hidden;

      &.info {
        border: 1px solid $c-tealborder;
        color: $c-teal;
        background-color: rgba(lighten($c-darkcyan, 5%), .9);
      }
      &.warning {
        border: 1px solid $orangered;
        color: $orangered;
        background-color: rgba(lighten($darkorange, 5%), .9);
      }
      &.error {
        border: 1px solid $red;
        color: $red;
        background-color: rgba(lighten($coral, 5%), .9);
      }
    }
  }
}
.fx-notification-enter {
  opacity: 0;
  height: 0;
}

.fx-notification-leave-active {
  opacity: 0;
  height: 0;
}
</style>
