<template>
  <section class="__vm-sidebar" :class="{ hidden: !isMenuVisible }">
    <div class="sidebar">
      <div class="menu">
        <vcButton name="home" icon="home" text="Acasă" type="opac" href="/"></vcButton>
        <vcButton name="news" icon="news" text="Știri" type="opac" href="/news"></vcButton>
        <vcButton v-bind="btnAnime"></vcButton>
        <vcButton v-bind="btnOVA"></vcButton>
        <vcButton v-bind="btnMovie"></vcButton>
        <vcButton v-bind="btnManga"></vcButton>
      </div>
    </div>
  </section>
</template>

<script>
import util from '../../util.funcs.js';

export default {
  data() {
    return {
      buttons: {
        anime: { icon: "anime", text: "Anime", type: "opac", 
          dropdown: { data: [], visible: false, style: "inline" }
        },
        ova: { icon: "ova", text: "OVA", type: "opac", 
          dropdown: { data: [], visible: false, style: "inline" }
        },
        movie: { icon: "movie", text: "Filme", type: "opac",
          dropdown: { data: [], visible: false, style: "inline" } 
        },
        manga: { icon: "manga", text: "Manga", type: "opac",
          dropdown: { data: [], visible: false, style: "inline" } },
      }
    }
  },
  computed: {
    isMenuVisible() {
      return this.$store.state.UI.sidebar;
    },
    btnAnime() {
      this.buttons.anime.dropdown.data = this.$store.state.anime.map(anime => { return { icon: "anime", text: anime.JPTitle, type: "opac", href: `/anime/${anime.LinkID}` } })
      if(this.buttons.anime.dropdown.data.length > 6) this.buttons.anime.dropdown.data.unshift({ icon: "list", text: "Arată-le pe toate", type: "opac", href: `/anime/` })
      return this.buttons.anime;
    },
    btnOVA() {
      this.buttons.ova.dropdown.data = this.$store.state.ova.map(ova => { return { icon: "ova", text: ova.JPTitle, type: "opac", href: `/ova/${ova.LinkID}` } })
      if(this.buttons.ova.dropdown.data.length > 6) this.buttons.ova.dropdown.data.unshift({ icon: "list", text: "Arată-le pe toate", type: "opac", href: `/ova/` })
      return this.buttons.ova;
    },
    btnMovie() {
      this.buttons.movie.dropdown.data = this.$store.state.movie.map(movie => { return { icon: "movie", text: movie.JPTitle, type: "opac", href: `/movie/${movie.LinkID}` } })
      if(this.buttons.movie.dropdown.data.length > 6) this.buttons.movie.dropdown.data.unshift({ icon: "list", text: "Arată-le pe toate", type: "opac", href: `/movie/` })
      return this.buttons.movie;
    },
    btnManga() {
      this.buttons.manga.dropdown.data = this.$store.state.manga.map(manga => { return { icon: "manga", text: manga.JPTitle, type: "opac", href: `/manga/${manga.LinkID}` } })
      if(this.buttons.manga.dropdown.data.length > 6) this.buttons.manga.dropdown.data.unshift({ icon: "list", text: "Arată-le pe toate", type: "opac", href: `/manga/` })
      return this.buttons.manga;
    }
  }
}
</script>

<style lang="scss">
@import "~styles/defines/colours.scss";

.__vm-sidebar {  
  border-right: 1px solid $c-teal;

  .sidebar {
    height: 100%;
    width: 260px;
    overflow-y: auto;

    .menu {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 20px;

      > .__vc-button {
        width: 100%;
        > .button {
          padding: 8px;
          margin: 4px 40px 4px 40px;

          &:hover:not(.disabled):not(.is-active) {
            padding-left: 20px;          
          }
        }
        .dropdown {
          .__vc-button {
            width: auto;
          }
        }
      }
    }
  }

  &:not(.hidden) { // transition in
    max-width: 260px;
    border-color: $c-teal;
    transition: max-width 400ms ease, border 50ms linear;
    .sidebar {
      opacity: 1;
      transition: opacity 400ms ease 200ms;
    }
  }

	&.hidden { // transition out
    max-width: 0;
    border-color: transparent;
    transition: max-width 400ms ease 200ms, border 50ms linear 550ms;
		.sidebar {
      opacity: 0;
      transition: opacity 400ms ease;
    }
	}  
}

</style>
