<template>
  <section class="__vm-social" :class="{ hidden: !isVisible }">
    <div class="social">
      <div class="chat">
        <header></header>
        <main>
          <div class="row" v-for="(message, id) in messages.rooms[room]" :key="id">
            <div class="avatar" :style="{ backgroundImage: `url('http://i.imgur.com/vLbnU8q.jpg')` }" alt="avatar"></div>
            <span class="date">{{ date(message.ChatMessageDateAdded) }}</span>
            <span class="badges"></span>
            <span class="mod"></span>
            <vcUser v-if="message.UserID" :data="message"></vcUser>
            <span v-else class="__vc-user guest">{{ `Guest ${message.GuestID}` }}</span>
            <span class="message">: {{ message.ChatMessage }}</span>
          </div>
        </main>
        <footer>
          <vcInput type="textarea" css="clear" placeholder="Trimite un mesaj" :input.sync="input.message" :error="input.error.message"></vcInput>
          <div class="actions">
            <vcIcon icon="list" size="m" fx="default" :click="() => {}"></vcIcon>
            <vcIcon icon="cog" size="m" fx="default" :click="() => {}"></vcIcon>
            <vcButton name="send" text="Trimite" type="minimal" :click="send"></vcButton>
          </div>
        </footer>
      </div>
    </div>
  </section>
</template>

<script>
import io from '../../io.loader.js';

export default {
  data() {
    return {
      room: 'default',
      messages: {
        rooms: { }
      },
      input: {
        message: null,
        error: { }
      }
    }
  },
  computed: {
    isVisible() {
      return this.$store.state.UI.social;
    }
  },
  async mounted() {
    this.$set(this.messages.rooms, this.room, await io.async.emit('/v2/chat/load.io'))
    this.scrollToBottom();
  },
  methods: {
    tryMessage(message) {
      if (message.length < 3) return "Mesajul este prea scurt!"

      return null;
    },
    date(timestamp) {
      let dateAdded = new Date(parseInt(timestamp));
      return `${dateAdded.getHours().toString().padStart(2, "0")}:${dateAdded.getMinutes().toString().padStart(2, "0")}`;
    },
    scrollToBottom() {
      this.$nextTick(() => {        
        let el = document.querySelector(".chat main");
        TweenLite.to(el, .8, {
          scrollTo: el.scrollHeight-el.clientHeight,
          ease: Power4.easeOut
        })
      })  
    },
    send() {
      this.input.error = { };
      this.$nextTick(function() {
        this.$set(this.input.error, 'message', "test error");
      })      
    }
  }
}
</script>

<style lang="scss">
@import "~styles/defines/colours.scss";

.__vm-social {
  border-left: 1px solid $c-teal;

  .social {
    height: 100%;
    width: 300px;
    overflow-y: auto;
    background-color: rgba($c-darkcyan, .9);

    .chat {
      display: grid;
      grid-template-rows: 60px 1fr 140px;
      height: 100%;
      
      header {
      }
      main {        
        overflow-y: auto;
        padding: 2px 0 2px 0;
        .row {
          word-break: break-word;
          padding: 4px 8px 4px 8px;
          line-height: 20px;

          &:nth-child(even) {
            background-color: rgba($c-teal, .1);
          }

          > * { display: inline }
          .avatar {
            display: inline-block;
            height: 19px;
            width: 19px;
            background-position: center;
            background-size: cover;
            vertical-align: text-top;
          }
          .date {
            font-size: 11px;
            color: darken($c-teal, 20%);
          }
          .message {
            margin-left: -3px;
          }
        }
      }
      footer {
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;

        .__vc-input {
          flex-direction: column;
        }

        textarea {
          flex: 0 0 50px;
          border: 1px solid $c-tealflat;
          margin: 10px 0 10px 0;
          min-height: 50px;
          padding: 5px;

          transition: border .2s ease;
          &:focus {
            border-color: lighten($c-teal, 10%);
          }
        }
        .actions {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          > * {
            flex: 0;
          }
          .button-send { margin-left: 6px }
          .button-send span { margin-left: 0 }
        }
      }
    }
  }

   &:not(.hidden) { // transition in
    max-width: 300px;
    border-color: $c-teal;
    transition: max-width 400ms ease, border 50ms linear;
    .social {
      opacity: 1;
      transition: opacity 400ms ease 200ms;
    }
  }

	&.hidden { // transition out
    max-width: 0;
    border-color: transparent;
    transition: max-width 400ms ease 200ms, border 50ms linear 550ms;
		.social {
      opacity: 0;
      transition: opacity 400ms ease;
    }
	}
}
</style>
