<template>
  <transition name="fx-windows">
    <section v-show="windows.length" class="__vm-window">
      <vcWindow v-for="win in windows" :key="win.id" :win="win"></vcWindow>
    </section>
  </transition>
</template>

<script>
export default {
  computed: {
    windows() {
      return this.$store.state.UI.windows;
    }
  }
}
</script>

<style lang="scss">
.fx-windows-enter,
.fx-windows-leave-active {
    opacity: 0;
}

.__vm-window {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 300px;
  background-color: rgba(#000, .5);

  transition: opacity .4s ease;
  z-index: 1000;
}
</style>
