<template>
  <div class="__vc-button" :class="btnName">
    <router-link v-if="href" :to="href" class="button" :class="[ btnColor, btnType ]">
      <vcIcon :icon="icon" :img="img" spacing="0"></vcIcon>
      <span v-if="text">{{ text }}</span>
    </router-link>
    <div v-else class="button" :class="[ btnColor, btnType, btnActive, btnDisabled ]" @click="btnClick">
      <vcIcon :icon="icon" :img="img" spacing="0"></vcIcon>
      <span v-if="text">{{ text }}</span>
      <vcIcon v-if="btnDropdown.data && btnDropdown.data.length" icon="arrow" fx="default"></vcIcon>
    </div>    
    <vcDropdown v-if="btnDropdown.data && btnDropdown.data.length" :dropdown="btnDropdown"></vcDropdown>
  </div>
</template>

<script>
import util from '../../../util.funcs.js';

export default {
  props: [ "name", "icon", "text", "img", "color", "type", "dropdown", "click", "href", "disabled" ],
  data() {
    return {
      btnDropdown: this.dropdown || { },
      uuid: util.uuid_v4()
    }
  },
  computed: {
    btnName() {
      return (this.name) ? `button-${this.name}` : null;
    },
    btnColor() {
      return `col-${this.color || "default"}`;
    },
    btnType() {
      return this.type || "minimal";
    },
    btnActive() {
      return (this.btnDropdown.visible) ? "is-active" : false;
    },
    btnDisabled() {
      return (this.disabled || (this.btnDropdown.data && !this.btnDropdown.data.length)) ? "disabled" : false;
    }   
  },
  methods: {
    btnClick(evt) {
      if (this.disabled) return;

      this.btnDropdown.visible = !this.btnDropdown.visible;
      if (typeof(this.click) == 'function') return this.click();
    }
  }
}
</script>

<style lang="scss">
@import "~styles/defines/colours.scss";

.__vc-button {
  flex: 1; 
  display: inline-flex;
  flex-direction: column;
  position: relative;

  -webkit-user-select: none; 
	-moz-user-select: none;
  user-select: none;
  .button {
    display: flex;
    align-items: center;

    white-space: nowrap;	
    text-overflow: clip;
    overflow: hidden;
    cursor: pointer;

    > * {
      pointer-events: none;
    }

    .icon {
      top: 1px;
      font-weight: normal;
    }

    span {
      flex: 1;
      margin-left: 6px;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .icon-arrow {
      margin-left: 6px;
    }

    &.disabled {
      opacity: .4;
    }

    &.minimal {
      padding: 4px 8px 4px 8px;
      border: 1px solid $c-teal;
      border-radius: 2px;
      color: $c-teal;

      transition: background-color .2s ease, border .2s ease, color .2s ease; 

      &:not(.disabled) {
        &.is-active, &:hover {
          border-color: lighten($c-teal, 30%);
          color: lighten($c-teal, 30%);
          background-color: rgba($c-tealflat, .1);
        }
      }
    }

    &.opac {
      padding: 4px 8px 4px 8px;
      border-top: 1px solid transparent;
      border-bottom: 1px solid transparent;
      border-radius: 4px;
      background-color: transparent;
      color: $c-teal;
      
      -webkit-transition: background-color .2s ease, border .15s ease, color .2s ease, padding .2s ease;
      -moz-transition: background-color .2s ease, border .15s ease, color .2s ease, padding .2s ease;
      -o-transition: background-color .2s ease, border .15s ease, color .2s ease, padding .2s ease;
      transition: background-color .2s ease, border .15s ease, color .2s ease, padding .2s ease; 

      &.col-red {
        color: #dd4a36;

        &:not(.disabled) {
          &.is-active, &:hover {
            border-top: 1px solid #dd4a36;
            border-bottom: 1px solid #dd4a36;
            color: lighten(#dd4a36, 30%);
          }
        }
      }

      &:not(.disabled) {
        &.is-active, &:hover {
          border-top: 1px solid $c-teal;
          border-bottom: 1px solid $c-teal;
          color: lighten($c-teal, 30%);
          background-color: rgba(#000, .3);			

          .icon-arrow {
            opacity: 1;
          }
        }
      }
    }
    &.grad {   
      padding: 5px 8px 5px 8px;
      border-top: 1px solid transparent;
      border-bottom: 1px solid transparent;
      border-radius: 3px;
      background: linear-gradient(to bottom, rgba(#01936e, 1), rgba(#008562, 1));
      background-blend-mode: screen;
      color: lighten(#01936e, 40%);
      background-color: #000;
      text-shadow: 1px 1px 1px #000;

      transition: background .2s linear, border .15s ease; 
      &.col-red {
        background: linear-gradient(to bottom, #dd4a36, darken(#dd4a36, 10%));
        color: lighten(#dd4a36, 40%);
        .icon {
          color: lighten(#dd4a36, 40%);
        }

        &:not(.disabled) {
          &.is-active, &:hover {
            background-color: darken(#c93737, 35%);
            border-top: 1px solid #dd4a36;
            border-bottom: 1px solid #dd4a36;
          }
        }
      }
      &.col-lblue {
        background: linear-gradient(to bottom, #00aaff, darken(#00aaff, 10%));
        color: lighten(#00aaff, 40%);
        .icon {
          color: lighten(#00aaff, 40%);
        }

        &:not(.disabled) {
          &.is-active, &:hover {
            background-color: darken(#00aaff, 35%);
          }
        }
      }
      &.col-blue {
        background: linear-gradient(to bottom, #3965a4, darken(#3965a4, 10%));
        color: lighten(#3965a4, 40%);
        .icon {
          color: lighten(#3965a4, 40%);
        }

        &:not(.disabled) {
          &.is-active, &:hover {
            background-color: darken(#3965a4, 35%);
          }
        }
      }
      &.col-blurple {
        background: linear-gradient(to bottom, #7289da, darken(#7289da, 10%));
        color: lighten(#7289da, 40%);
        .icon {
          color: lighten(#7289da, 40%);
        }

        &:not(.disabled) {
          &.is-active, &:hover {
            background-color: darken(#7289da, 35%);
          }
        }
      }

      &:not(.disabled) {
        &.is-active, &:hover {
          background-color: darken($c-teal, 35%);
          border-top: 1px solid $c-teal;
          border-bottom: 1px solid $c-teal;

          .icon-arrow {
            opacity: 1;
          }
        }
      }
    }
  }
}
</style>
