<template>
  <div class="__vc-datetime">
    <div class="selected-datetime">
      <vcIcon icon="calendar" fx="default" spacing="0 2px 0 2px" :click="toggle"></vcIcon>
      <span class="date">{{ str.fullDate() }}</span>
    </div>
    <transition @enter="scalein" @leave="scaleout">
      <div v-if="options.visible" class="datetime">
        <header>
          <div class="year">
            <vcIcon icon="left" fx="default" :click="getPrevYear"></vcIcon>
            <label class="year">{{ current.year }}</label>
            <vcIcon icon="right" fx="default" :click="getNextYear"></vcIcon>
          </div>
          <span v-if="selected.day" class="date selected">{{ `${str.selectedDate()} ${str.selectedTime()}` }}</span>
          <span v-else class="date current">{{ `${today.day} ${getMonth(today.month)}` }}</span> 
        </header>
        <transition @enter="fadein" @after-enter="scroll" @leave="fadeout" :css="false" mode="out-in">
          <main v-if="step == 1" class="date" :key="step">
            <div class="month">
              <vcIcon icon="left" fx="default" :click="getPrevMonth"></vcIcon>
              <label class="month">{{ getMonth(this.current.month) }}</label>
              <vcIcon icon="right" fx="default" :click="getNextMonth"></vcIcon>
            </div>
            <ul class="days">
              <li v-for="(day, id) in str.days()" :key="id">{{ day }}</li>
            </ul>
            <ul class="calendar">
              <li v-for="(day, id) in getCalendar" :key="id" :class="isSelectedOrToday(id+1)" :style="{ 'grid-row-start': day.row, 'grid-column-start': day.col }" @click.stop="selectDate(id+1)">{{ id+1 }}</li>
            </ul>
          </main>
          <main v-else-if="step == 2" class="time" :key="step">
            <ul class="hour">
              <li v-for="n in 24" :class="{ 'is-selected': selected.hour == n-1 }" :key="n" @click="selectHour(n-1)">{{ (n-1).toString().padStart(2, '0') }}</li>
            </ul>
            <ul class="minute">
              <li v-for="n in 60" :class="{ 'is-selected': selected.minute == n-1 }" :key="n" @click="selectMinute(n-1)">{{ (n-1).toString().padStart(2, '0') }}</li>
            </ul>
          </main>
        </transition>
        <footer>
          <vcButton name="return" icon="return" text="Înapoi" type="grad" :click="back"></vcButton>
          <vcButton name="continue" icon="continue" text="Confirmă" type="grad" :click="confirm"></vcButton>
        </footer>
      </div>
    </transition>
  </div>
</template>


<script>
import util from '../../../util.funcs.js';

export default {
  props: [ "timestamp", "date", "time" ],
  data() {
    return {
      current: {
        year: 1970,
        month: 0
      },
      selected: {
        year: null,
        month: null,
        day: null,
        hour: 0,
        minute: 0
      },
      step: 1,
      options: {
        visible: false,        
        time: this.time
      }
    }
  },
  mounted() {
    let date = this.loaded || this.today;
    this.current.year = date.year;
    this.current.month = date.month;
  },
  computed: {
    str() {
      let $this = this;
      return {
        days() {
          return util.str.days;
        },
        selectedDate() {
          return `${$this.selected.day.toString().padStart(2, '0')} ${$this.getMonth($this.selected.month)} ${$this.selected.year}`
        },
        selectedTime() {
          return ($this.selected.hour != 0 || $this.selected.minute != 0) ? `${$this.selected.hour.toString().padStart(2, '0')}:${$this.selected.minute.toString().padStart(2, '0')}` : ""
        },
        fullDate() {
          if (!$this.timestamp) return "Selectează o dată...";
          return util.str.date($this.timestamp, $this.options.time);
        } 
      }
    },    
    getCalendar() {
      let year = this.current.year;
      let month = this.current.month;    
    
      let firstDay = new Date(year, month, 1);
			let lastDay = new Date(year, month+1, 0);

      let days = [];
      let offset = util.clampLoop(firstDay.getDay()-1, 0, 6);
      for (let x = 0; x < 7; x++) {
        while (offset < 7 && days.length < lastDay.getDate()) {
          days.push({ row: x+1, col: offset+1 })
          offset++;
        }
        offset = 0;
      }
      return days;
    },
    today() {
      return this.DateParse(new Date());
    },
    loaded() {
      return (this.timestamp) ? this.DateParse(new Date(parseInt(this.timestamp))) : false;
    }
  },
  methods: {
    scalein(el, done) {
      TweenMax.set(el, { height: "auto", opacity: 1 });
      TweenMax.from(el, .2, {height: 0, opacity: 0, onComplete: done});
    },
    scaleout(el, done) {
      TweenMax.to(el, .2, {height: 0, opacity: 0, onComplete: done});
    },
    fadein(el, done) {
      el.style.opacity = 0;
      TweenMax.to(el, .2, {opacity: 1, onComplete: done});
    },
    fadeout(el, done) {
      TweenMax.to(el, .2, {opacity: 0, onComplete: done});
    },
    scroll(el) {
      if (el.className == "time") {
        for (let i = 0; i < el.children.length; i++) {
          let selected = (el.children[i].className == 'hour') ? this.selected.hour : this.selected.minute;

          TweenMax.to(el.children[i], .4, {scrollTo: selected*30.55});
        }
      }
    },
    DateParse(date) {
      return {
        year: date.getFullYear(),
        month: date.getMonth(),
        day: date.getDate(),
        hour: date.getHours(),
        minute: date.getMinutes()
      }
    },
    reset() {
      this.current.year = this.today.year;
      this.current.month = this.today.month;
    },
    dismiss() {
      this.step = 1;
      this.options.visible = false;      
    },
    toggle() {
      this.options.visible = !this.options.visible;
      if (this.options.visible) Object.assign(this.selected, this.loaded);
    },
    back() {
      if (this.step > 1) return this.step--;
      this.dismiss();
    },
    confirm() {
      if (!this.selected.day) Object.assign(this.selected, this.today);
      if (this.options.time && this.step == 1) return this.step = 2;

      this.$emit('update:timestamp', new Date(`${this.selected.year}-${this.selected.month+1}-${this.selected.day} ${this.selected.hour}:${this.selected.minute}`).getTime());
      this.dismiss();
    },
    isSelectedOrToday(day) {
      if (day == this.selected.day && this.current.month == this.selected.month && this.current.year == this.selected.year) return { 'is-selected': true }
      if (day == this.today.day && this.current.month == this.today.month && this.current.year == this.today.year) return { 'is-today': true }

      return false;
    },
    selectDate(day) {
      this.selected.day = day;
      this.selected.month = this.current.month;
      this.selected.year = this.current.year;
    },
    selectHour(hour) {
      this.selected.hour = hour;
    },
    selectMinute(minute) {
      this.selected.minute = minute;
    },
    getMonth(month) {
      return util.str.months[month];
    },
    getNextMonth() {
      if (this.current.month < 11) return this.current.month++;
      
      this.getNextYear();
      this.current.month = 0;      
    },
    getPrevMonth() {
      if (this.current.month > 0) return this.current.month--;
      
      this.getPrevYear();
      this.current.month = 11;
    },
    getNextYear() {    
      this.current.year++;  
    },
    getPrevYear() {
      this.current.year--;
    }
  }
}
</script>

<style lang="scss">
@import "~styles/defines/colours.scss";

.__vc-datetime {
  position: relative;  
  z-index: 1;

  user-select: none;
  .selected-datetime {
    padding: 0 4px 0 4px;
  }

  .datetime {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 0;
    width: 305px;
    border: 1px solid $c-teal;
    border-radius: 4px;
    background-image: url("~assets/images/bg-components.jpg");
    overflow: hidden;

    header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-self: stretch;
      flex: 0 0 60px;
      background-color: rgba($c-teal, .2);
      text-align: center;
      border-bottom: 1px solid $c-tealborder;

      div.year {
        display: flex;
        align-items: center;
        justify-content: center;

        label.year {
          flex: 0 0 50%;
          color: darken($c-teal, 20%);
          font-family: 'Titillium Web';
          font-size: 20px;
          font-weight: 600;
          text-align: center;
        }
      }

      span.date.selected {
        color: $gold;
      }
    }

    main {
      flex: 1;
      padding: 10px 10px 0 10px;

      &.time {
        display: flex;
        max-height: 280px;
        > ul {
          flex: 1;
          padding: 118px 0 118px 0;
          text-align: center;
          overflow-y: scroll;          

          li {
            color: darken($c-teal, 20%);
            font-family: 'Titillium Web';
            font-size: 20px;
            font-weight: 600;
            cursor: pointer;

            transition: color .2s ease, font-size .2s ease;
            &:hover {
              color: $c-teal;
              font-size: 30px;
            }

            &.is-selected {
              color: $gold;
              font-size: 30px;
            }
          }
        }
      }

      &.date {
        div.month {
          display: flex;
          align-items: center;
          justify-content: center;

          label.month {
            flex: 0 0 50%;
            color: darken($c-teal, 20%);
            font-family: 'Titillium Web';
            font-weight: 600;
            text-align: center;
          }
        }

        ul.days {
          display: grid;
          grid-auto-columns: 32px;
          grid-auto-flow: column;
          grid-column-gap: 10px;
          margin: 10px 0 10px 0;

          li {
            color: darken($c-teal, 20%);
            font-family: 'Titillium Web';
            font-size: 14px;
            font-weight: 600;
            text-align: center;
          }

        }

        ul.calendar {
          display: grid;
          grid-auto-columns: 32px;
          grid-auto-rows: 32px;
          grid-column-gap: 10px;
          grid-row-gap: 10px;
          
          li {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 2px;
            background-color: rgba($c-teal, .1);       
            cursor: pointer;

            &.is-today {
              background-color: rgba($c-teal, .3);
              &:hover {
                background-color: rgba($c-teal, .5);
              }
            }

            &.is-selected {
              color: $gold;
              background-color: rgba($gold, .3);
              &:hover {
                background-color: rgba($gold, .5);
              }
            }

            &:hover {      
              transition: background .2s ease;   
              background-color: rgba($c-teal, .2);
            }
          }
        }
      }
    }

    footer {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 10px 0 10px 0;

      .__vc-button {
        flex: 0;

        .button {
          margin-left: 5px;
          margin-right: 5px;
        }
      }      
    }
  }
}
</style>
