<template>
  <router-link v-if="href" :to="href" class="icon" :class="[ iconName, iconImage, iconSize, iconFX, iconCursor ]" :style="iconStyle"></router-link>
  <i v-else class="icon" :class="[ iconName, iconImage, iconSize, iconFX, iconCursor ]" :style="iconStyle" @click.stop="btnClick"></i>
</template>

<script>
export default {
  props: [ "icon", "size", "fx", "click", "img", "spacing", "href", "disabled" ],
  computed: {
    iconName() {
      return (this.icon) ? `icon-${this.icon}` : null;
    },
    iconImage() {
      return (this.img) ? `icon-is-img` : null;
    },
    iconSize() {
      return `icon-size-${this.size || "s"}`;
    },
    iconFX() {
      return (this.fx) ? `icon-fx-${this.fx}` : null;
    },
    iconCursor() {
      return (this.disabled) ? `icon-is-disabled` : (this.click) ? `icon-is-pointer` : null;
    },
    iconStyle() {
      let style = { }

      if (this.img) return { backgroundImage: `url('${this.img}')` };
      style.margin = this.spacing || "0 6px 0 6px";

      return style;
    }
  },
  methods: {
    btnClick() {
      if (typeof(this.click) == 'function') return this.click();
    }
  }
}
</script>

<style lang="scss">
@font-face { font-family: 'Icon'; src: url('~assets/fonts/yokoanime.ttf?ver=0.003'); font-weight: normal; }
@import '~styles/defines/colours.scss';

.icon {
  font-weight: normal;
  font-family: 'Icon';
  
  &.icon-is-img {
    background-position: center;
    background-size: cover;
    width: 13px;
    height: 13px;
  }

  &.icon-size-m {
    font-size: 16px;
    &.icon-is-img {
      width: 16px;
      height: 16px;
    }
  }
  &.icon-size-l {
    font-size: 20px;
    &.icon-is-img {
      width: 20px;
      height: 20px;
    }
  }
  &.icon-size-xl {
    font-size: 24px;
    &.icon-is-img {
      width: 24px;
      height: 24px;
    }
  }

  &.icon-is-disabled {
    color: rgba(nth($c-teal, 1), .4);
  }  

  &:not(.icon-is-disabled).icon-fx-default {
    transition: color .2s ease;
    &.icon-arrow {
      transition: opacity .2s ease;
    }
    &:hover {
      color: lighten(nth($c-teal, 1), 40%);
    }
    &.col-red:hover {
      color: lighten(nth($red, 1), 20%);
    }
    &.col-amber:hover {
      color: lighten(nth($tomato, 1), 20%);
    }
    &.col-yellow:hover {
      color: lighten(nth($gold, 1), 30%);
    }
  }

  

  &.icon-is-pointer {
    cursor: pointer;
  }
  &.icon-is-disabled {
    cursor: not-allowed;
  }

  // icon definitions
  &.icon-close:before {
    content: "\e5cd";
  }
  &.icon-continue:before {
    content: "\e31c";
  }
  &.icon-cog:before {
    content: "\e927";
  }
  &.icon-menu:before {
    content: "\e5d2";
  }
  &.icon-pulse:before {
    content: "\e90b";
  }
  &.icon-home:before {
    content: "\e901";
  }
  &.icon-news:before {
    content: "\e906";
  }
  &.icon-anime:before {
    content: "\e903";
  }
  &.icon-ova:before {
    content: "\e902";
  }
  &.icon-movie:before {
    content: "\e905";
  }
  &.icon-manga:before {
    content: "\e904";
  }  
  &.icon-list:before {
    content: "\e907";
  }
  &.icon-changelog:before {
    content: "\e908";
  }
  &.icon-faq:before {
    content: "\e909";
  }
  &.icon-search:before {
    content: "\e90a";
  }
  &.icon-login:before {
    content: "\e90c";
  }
  &.icon-star:before {
    content: "\e90e";
  }
  &.icon-half-star:before {
    content: "\e90d";
  }
  &.icon-play:before {
    content: "\e911";
  }
  &.icon-empty-star:before {
    content: "\e90f";
  }
  &.icon-admin:before {
    content: "\e910";
  }
  &.icon-warning:before {
    content: "\e912";
  }
  &.icon-heart:before {
    content: "\e913";
  }
  &.icon-bookmark:before {
    content: "\e914";
  }
  &.icon-share:before {
    content: "\e915";
  }
  &.icon-return:before {
    content: "\e922";
  }
  &.icon-prev:before {
    content: "\e919";
  }
  &.icon-next:before {
    content: "\e91a";
  }
  &.icon-minus:before {
    content: "\e91d";
  }
  &.icon-plus:before {
    content: "\e91e";
  }
  &.icon-edit:before {
    content: "\e91c";
  }
  &.icon-left:before {
    content: "\e91f";
  }
  &.icon-right:before {
    content: "\e920";
  }
  &.icon-calendar:before {
    content: "\e921";
  }
  &.icon-accept:before {
    content: "\e923";
  }
  &.icon-decline:before {
    content: "\e924";
  }
  &.icon-arrow {
    border: none;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #00dfa6;
    
    opacity: 0;
  }	
}
</style>
