<template>
  <div class="__vc-input">
    <textarea v-if="type==='textarea'" :class="[ css ]" :placeholder="placeholder" v-model="value"></textarea>
    <input v-else :type="type" :class="[ css ]" :placeholder="placeholder" v-model="value"></textarea>
    <vcIcon v-if="error" class="input-error" icon="warning" size="m" v-tooltip="{ text: error, color: 'red' }"></vcIcon>
  </div>  
</template>

<script>
export default {
  props: [ "type", "css", "input", "error", "placeholder" ],
  data() {
    return {
      value: null
    }
  },
  watch: {
    'value': function(to, from) {
      this.$emit('update:input', to);
    }
  }
}
</script>

<style lang="scss">
@import "~styles/defines/colours.scss";

.__vc-input {
  display: flex;
  position: relative;

  .input-error {
    position: absolute;
    right: 0;
    top: 16px;
    color: $orangered;

    animation: .4s show-error ease-in-out;
  }
}

@keyframes show-error {
	0% { opacity: 0 }
 	50% { 
 		opacity: 1; 
 		color: lighten($orangered, 10%); 
 	}
	100% { color: $orangered }
}
</style>
