<template>
  <div class="__vc-select">
    <div class="select" :class="{ 'is-active': IsActive, 'disabled': selection.disabled }" @click="open">
      <vcIcon icon="menu"></vcIcon>
      <label>{{ text }}</label>
      <vcIcon icon="arrow" fx="default"></vcIcon>
    </div>
    <ul class="select-dropdown" :class="{ 'is-active': IsActive }">
      <li v-for="(option, id) in selection.options" :key="id" class="option" @click="select(id)">
        <label>{{ option.text }}</label>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  props: [ "data" ],
  data() {
    return {
      IsActive: false,
      selection: this.defaults()
    }
  },
  computed: {
    text() {
      return (this.selection.selected != null) ? this.selection.options[this.selection.selected].text : this.selection.text;
    }
  },
  methods: {
    defaults() {
      const defaults = {
        key: null,
        text: "Select an item",
        selected: null,
        options: [
          { text: "Select #1" },
          { text: "Select #2" },
          { text: "Select #3" }
        ],
        width: null,
        disabled: false,
        fn: {
          OnSelect() { }
        }
      }
      return Object.assign(defaults, this.data || { });
    },
    open() {
      if (this.selection.disabled) return;

      this.IsActive = !this.IsActive;
    },
    select(id) {
      if (this.selection.disabled) return;

      this.IsActive = false;

      this.selection.selected = id;
      this.selection.fn.OnSelect(id)
    }
  }
}
</script>

<style lang="scss">
@import "~styles/defines/colours.scss";

.__vc-select {
  flex: 1; 
  display: inline-flex;
  flex-direction: column;
  position: relative;

  .select {
    display: flex;
    align-items: center;
    padding: 2px 6px 2px 6px;
    border-radius: 2px;
    border: 1px solid $c-teal;
    background-color: rgba($c-teal, 0.2);
    color: $c-teal;
    font-size: 12px;
    font-weight: 600;

    white-space: nowrap;	
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;

    transition: background-color .2s ease, border .15s ease, color .2s ease; 
    > * {
      pointer-events: none;
    }

    .icon {
      top: 1px;
      font-weight: normal;
    }

    label {
      flex: 1;
      margin-left: 4px;
      margin-right: 4px;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .icon-arrow {
      margin-left: 8px;
    }

    &.disabled {
      opacity: .4;
      cursor: not-allowed;
    }
    
    &:not(.disabled) {
      &.is-active, &:hover {
        border-color: lighten($c-teal, 20%);
        color: lighten($c-teal, 30%);
        background-color: rgba(#000, .3);			

        .icon-arrow {
          opacity: 1;
        }
      }
    }
  }
  .select-dropdown {
    position: absolute;
    left: 0;
    right: 0;
    top: 25px;
    max-height: 0;
    border-left: 2px solid $c-teal;
    border-right: 2px solid $c-teal;
    background-image: url("~assets/images/bg-components.jpg");
    border-radius: 4px;
    overflow-y: auto;

    transition: max-height .4s ease;
    &.is-active {
      max-height: 205px;
    }

    .option {
      display: block;
      padding: 2px 4px 2px 4px;
      margin: 2px 0 2px 0;
      border-top: 1px solid transparent;
      border-bottom: 1px solid transparent;
      background-color: transparent;
      color: $c-teal;
      font-size: 13px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;

      -webkit-transition: background-color .2s ease, border .15s ease, color .2s ease;
      -moz-transition: background-color .2s ease, border .15s ease, color .2s ease;
      -o-transition: background-color .2s ease, border .15s ease, color .2s ease;
      transition: background-color .2s ease, border .15s ease, color .2s ease; 
      cursor: pointer;      
      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }

      &:hover {
        border-top: 1px solid $c-teal;
        border-bottom: 1px solid $c-teal;
        color: lighten($c-teal, 30%);
        background-color: rgba($c-teal, .3);			
      }

      > * {
        pointer-events: none;
      }
    }
  }
}
</style>
