<template>
  <div class="__vc-tag" @keyup.enter.prevent="insert(tag)">    
    <div class="selected-tag" v-if="tags.length" v-for="(tag,id) in tags" :key="id" @click.stop="remove(id)">
      <vcIcon icon="close" spacing="0"></vcIcon>
      <span>{{ tag }}</span>      
    </div>
    <input class="query clear" :placeholder="placeholder" v-model="tag" />
  </div>
</template>

<script>
import _ from 'lodash/lodash.min.js';

export default {
  props: [ "tags", "placeholder" ],
  data() {
    return {
      tag: ""
    }
  },
  methods: {
    insert(tag=null) {
      if (!tag) return;

      if (_.indexOf(this.tags, tag.trim()) == -1) this.tags.push(tag.trim());
      this.dismiss();
    },
    dismiss() {
      this.tag = "";
    },
    remove(id) {
      this.tags.splice(id, 1);
    }
  },
  watch: {
    'tag': function(val) {
      let tags = null;
      if (val.indexOf(',') != -1) tags = val.split(',');

      if (tags) {
        for (let i = 0; i < tags.length; i++) {
          this.insert(tags[i]);
        }
      }
    }
  }
}
</script>

<style lang="scss">
@import "~styles/defines/colours.scss";

.__vc-tag {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  position: relative;
  min-height: 24px;
  
  .selected-tag {
    margin: 2px;
    padding: 0 4px 0 4px;
    border: 1px solid;
    border-radius: 2px;
    cursor: pointer;
    transition: color .2s ease, background .2s ease, border .2s ease;

    &:hover {
      background-color: rgba(lighten($c-teal, 20%), .1);
      border-color: lighten($c-teal, 20%);
    }
  }

  .query {
    flex: 1;
  }
}
</style>
