<template>
  <div class="__vc-userinput" @keyup.esc.prevent="dismiss">    
    <div class="selected-user" v-if="users.length" v-for="(user,id) in users" :key="id" :class="user.AccessCSS" @click.stop="remove(id)">
      <vcIcon icon="close" spacing="0"></vcIcon>
      <span>{{ user.Name }}</span>      
    </div>
    <input class="query clear" :placeholder="placeholder" v-model="find" />
    <ul class="query-dropdown" :class="{ 'is-active': results.length }">
      <li v-for="(result, id) in results" :key="id" class="result" @click.stop="select(id)">
        <label :class="result.AccessCSS">({{ result.UserID }}) {{ result.Name }} ({{ result.AccessName }})</label>
      </li>
    </ul>
  </div>
</template>

<script>
import io from '../../../io.loader.js';
import _ from 'lodash/lodash.min.js';

export default {
  props: [ "users", "placeholder" ],
  data() {
    return {
      find: "",
      results: [],
      safe: null
    }
  },
  created() {
    document.body.addEventListener("click", this.dismiss);
  },
  destroy() {
    document.body.removeEventListener("click", this.dismiss);
  },
  methods: {
    select(id) {
      this.users.push(this.results[id]);
      this.results = _.differenceBy(this.results, this.users, 'Name');

      this.find = "";
    },
    dismiss() {
      this.results = [];
      this.find = "";
    },
    remove(id) {
      this.users.splice(id, 1);
    },
    async search(find) {
      let results = await io.async.emit('/v2/search/user.io', { find: find });
      if (find != this.find) return;

      this.results = _.differenceBy(results, this.users, 'Name');
    }
  },
  watch: {
    'find': function(val) {
      clearTimeout(this.safe);
      if (val.trim().length) setTimeout(this.search, 1000, val);
    }
  }
}
</script>

<style lang="scss">
@import "~styles/defines/access.scss";
@import "~styles/defines/colours.scss";

.__vc-userinput {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  position: relative;
  min-height: 24px;

  @each $access, $value in $colours {    
    .#{$access} {
      color: $value;
      &:hover {
        color: lighten($value, 20%);
      }
    }
    .selected-user.#{$access} {
      background-color: rgba($value, .1);
      border-color: $value;
      
      &:hover {
        background-color: rgba(lighten($value, 20%), .1);
        border-color: lighten($value, 20%);
      }
    }
  }
  
  .selected-user {
    margin: 2px;
    padding: 0 4px 0 4px;
    border: 1px solid;
    border-radius: 2px;
    cursor: pointer;

    transition: color .2s ease, background .2s ease, border .2s ease;
  }

  .query {
    flex: 1;
  }

  .query-dropdown {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    max-height: 0;
    border-left: 2px solid $c-teal;
    border-right: 2px solid $c-teal;
    background-image: url("~assets/images/bg-components.jpg");
    border-radius: 4px;
    overflow-y: auto;

    transition: max-height .4s ease;
    &.is-active {
      max-height: 205px;
    }

    .result {
      display: block;
      padding: 2px 4px 2px 4px;
      margin: 2px 0 2px 0;
      border-top: 1px solid transparent;
      border-bottom: 1px solid transparent;
      background-color: transparent;
      color: $c-teal;
      font-size: 13px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;

      -webkit-transition: background-color .2s ease, border .15s ease, color .2s ease;
      -moz-transition: background-color .2s ease, border .15s ease, color .2s ease;
      -o-transition: background-color .2s ease, border .15s ease, color .2s ease;
      transition: background-color .2s ease, border .15s ease, color .2s ease; 
      cursor: pointer;      
      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }

      &:hover {
        border-top: 1px solid $c-teal;
        border-bottom: 1px solid $c-teal;
        color: lighten($c-teal, 30%);
        background-color: rgba($c-teal, .3);			
      }

      > * {
        pointer-events: none;
      }
    }
  }
}
</style>
