<template>
  <router-link class="__vc-user" :class="data.AccessCSS" :to="`/user/${data.UserID}/profile`">{{ data.Name }}</router-link>
</template>

<script>
export default {
  props: [ 'data' ]
}
</script>

<style lang="scss">
@import "~styles/defines/access.scss";

.__vc-user {
  @each $name, $value in $colours {
    &.#{$name} {
      color: $value;
    }
  }
}
</style>
