<template>
  <transition name="fx-window" @enter="enter">
    <div class="__vc-window" :class="[ modal, focused ]" :style=style :id="`window-${win.id}`" @click="focus()">
      <header @mousedown="hold">
        <vcIcon v-if="win.dismissable" icon="close" fx="default" :click="dismiss"></vcIcon>
        <label class="title" :class="{ '__vc-drag': win.draggable && !win.modal }" >{{ win.title }}</label>
      </header>
      <component v-if="win.component" :is="win.component" v-bind="win.props"></component>
      <main v-else class="default">
        <div class="body">
          <slot name="body">
            <span>{{ win.text }}</span>
          </slot>
        </div>        
        <div class="buttons">
          <slot name="buttons">
            <vcButton name="dismiss" icon="continue" text="OK" :click="dismiss"></vcButton>
          </slot>
        </div>        
      </main>      
    </div>
  </transition>
</template>

<script>
import util from '../../../util.funcs.js';

export default {
  props: [ "id", "win" ],
  data() {
    return {
      dragging: {
        handler: false,
        offsetLeft: 0,
        offsetTop: 0        
      }
    }
  },
  created() {
    window.addEventListener('mousemove', this.move);
    window.addEventListener('mouseup', this.release);
  },
  destroy() {
    window.removeEventListener('mousemove', this.move);
    window.removeEventListener('mouseup', this.release);
  },
  computed: {
    modal() {
      return (this.win.modal) ? "modal" : "";
    },
    focused() {
      let windows = this.$store.state.UI.windows;
      return (this.win.id == this.$store.state.UI.windows[windows.length-1].id) ? "focus" : ""
    },
    min() {
      let { width, height } = this.win.min;
      return { 
        minHeight: (height != null) ? (util.IsFloat(height) ? `${height*100}%` : `${height}px`) : 'auto',
        minWidth: (width != null) ? (util.IsFloat(width) ? `${width*100}%` : `${width}px`) : 'auto'
      }
    },
    max() {
      let { width, height } = this.win.max;
      return {
        maxHeight: (height != null) ? (util.IsFloat(height) ? `${height*100}%` : `${height}px`) : 'auto',
        maxWidth: (width != null) ? (util.IsFloat(width) ? `${width*100}%` : `${width}px`) : 'auto'
      }
    },
    style() {
      return Object.assign({}, this.min, this.max);
    }
  },
  methods: {  
    enter(el, done) {
      el.style.top = `${Math.max(0, (document.documentElement.clientHeight - el.clientHeight) / 2)}px`;
      el.style.left = `${Math.max(0, (document.documentElement.clientWidth - el.clientWidth) / 2)}px`;
    },
    disableSelect(evt) {
      evt.preventDefault();
    },
    focus() {
      this.$store.commit('focusWindow', { id: this.win.id })
    },
    hold(evt) {
      if (util.hasClass(evt.target, '__vc-drag')) {
        window.addEventListener('selectstart', this.disableSelect);

        let { left, top } = util.offset(evt.target);
        this.dragging.handler = evt.target;
        this.dragging.offsetLeft = evt.pageX - left;
        this.dragging.offsetTop = evt.pageY - top;
        this.focus();
      }      
    },
    move(evt) {
      if (this.dragging.handler) {
        let win = this.dragging.handler.offsetParent;
        let posX = util.clampRange(evt.pageX - this.dragging.offsetLeft, 0, document.documentElement.clientWidth - win.offsetWidth);
        let posY = util.clampRange(evt.pageY - this.dragging.offsetTop, 0, document.documentElement.clientHeight - win.offsetHeight);

        win.style.left = `${posX}px`;
        win.style.top = `${posY}px`;
      }
    },
    release(evt) {
      window.removeEventListener('selectstart', this.disableSelect);
      this.dragging.handler = false;
    },
    dismiss() {
      this.$store.commit('dismissWindow', { id: this.win.id });
    }
  }
}
</script>

<style lang="scss">
@import "~styles/defines/colours.scss";

.fx-window-enter,
.fx-window-leave-active {
    opacity: 0;
    transform: translateY(-30px) scale(0.9);
}

.__vc-window {
  position: absolute;
  display: flex;
  flex-direction: column;
  border: 1px solid $c-teal;
  border-radius: 4px;
  background-color: $c-ddarkcyan;
  background-image: url("~assets/images/bg-components.jpg");
  background-size: cover;
	background-position: center center;
  box-shadow: 0 1px 2px #000;

  transition: opacity .4s ease, transform .4s ease;

  &.modal:before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  header {
    .title {
      display: block;
      padding: 5px 0 5px 10px;
      min-height: 17px;
      border-bottom: 1px solid $c-tealborder;
      background-color: rgba($c-teal, .3);
      color: $c-teal;
      font-weight: 600;

      transition: background .15s ease;
    }
    .icon {
      position: relative; // required to pass the modal fixed background
      float: right;
      margin: 7px 6px 7px 6px;
      font-weight: bold;
    }
  }
  main {
    flex: 1;
    display: flex;
    flex-direction: column; 
    position: relative;

    .body {
      flex: 1;
      padding: 10px;
      margin: 10px;
      border: 1px solid $c-teal;
      border-radius: 2px;
      white-space: pre-wrap;
      overflow-y: auto;
    }

    .buttons {
      align-self: center;
      margin-bottom: 10px;
      .__vc-button { 
        margin: 0 5px 0 5px;
      }
    }
  }

  &:not(.focus) {
    .title {
      background-color: rgba($c-teal, .1);
    }
  }
}
</style>
