<template>
  <transition name="fx-admin-section">
    <section class="__vc-admin">
      <component :is="data.component" v-bind.sync="data.props"></component>
      <slot v-if="!data.component" name="component">
        <div class="__vc-section">
          Index
        </div>
      </slot>
    </section>
  </transition>  
</template>

<script>
export default {
  props: [ "data" ]
}
</script>

<style lang="scss">
@import "~styles/defines/colours.scss";

.__vc-admin {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("~assets/images/bg-app-hd.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: 0 0;
  border-radius: 2px;
  z-index: 5;

  transition: transform .5s ease;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(#000, .6);
    z-index: -1;
  }

  .__vc-section {
    display: flex;
    flex-direction: column;
    transition: opacity .2s ease .5s;
    height: 100%;
    overflow-y: auto;

    >header {
      flex: 0 0 128px;
      display: grid;
      grid-template-columns: 128px 1fr 1fr 80px;
      grid-column-gap: 20px;
      align-content: space-evenly;        
      background-color: rgba($c-tealflat, .3);
      border-bottom: 1px solid $c-teal;

      >.icon-size-custom {
        justify-self: center;
        padding: 15px;
        border: 2px solid $c-teal;
        border-radius: 50%;
        background-color: rgba($c-teal, .2);
        color: $c-teal;
        font-size: 50px;
      }

      .column-1 {
        border-right: 1px solid $c-teal;
      }

      .confirm {
        display: grid;
        align-items: center;
        justify-items: center;
        border-left: 1px solid $c-teal;

        .icon {
          transition: color .4s ease;
          &.icon-decline {
            color: $tomato;
            &:hover {
              color: lighten($tomato, 20%);
            }
          }
          &.icon-accept {     
            color: $c-teal;
            &:hover {
              color: lighten($c-teal, 40%);
            }
          }
        }
      }
    }
    >main {
      flex: 1;
      padding: 10px;
    }
  }
}

.fx-admin-section-enter,
.fx-admin-section-leave-active {
  transform: translateY(100%);
  .__vc-section {
    opacity: 0;
  }
}
.fx-admin-section-leave-active {
  transition: transform .5s ease .2s;
  .__vc-section {
    transition: opacity .2s ease;
  }
}

</style>
