<template>
  <div class="__vc-section">  
    <header>
      <vcIcon icon="anime" size="custom"></vcIcon>
      <div class="column-1">
        <label class="select">Anime: </label>
        <vcSelect :data="bindSelectAnime"></vcSelect>
      </div>
      <div v-show="edit.anime" class="column-2">
        <label class="select">Episod: </label>
        <vcSelect :data="bindSelectEpisode"></vcSelect>
      </div>
      <div v-if="(edit.anime && edit.anime.pending) || (edit.episode && edit.episode.pending)" class="confirm">
        <vcIcon icon="accept" @click.stop="accept"></vcIcon>
        <vcIcon icon="decline" @click.stop="decline"></vcIcon>
      </div>
    </header>
    <main v-if="edit.episode" class="edit-episode">

    </main>
    <main v-else-if="edit.anime" class="edit-anime">
      <ul class="form">
        <li class="input" id="input-id">
          <label>ID</label>
          <input placeholder="ID" v-model="edit.anime.LinkID" disabled />
        </li>
        <li class="input" id="input-jptitle">
          <label>Titlul in japoneză</label>
          <input placeholder="Titlul in japoneză" v-model="edit.anime.JPTitle" />
        </li>
        <li class="input" id="input-entitle">
          <label>Titlul in engleză</label>
          <input placeholder="Titlul in engleză" v-model="edit.anime.ENTitle" />
        </li>
        <li class="input" id="input-myanimelist">
          <label>myAnimeList</label>
          <input placeholder="myAnimeList" v-model="edit.anime.myAnimeList" />
        </li>
        <li class="input" id="input-season">
          <label>Numele sezonului</label>
          <input placeholder="Numele sezonului" v-model="edit.anime.SeasonName" />
        </li>
        <li class="input" id="input-n_season">
          <label>Numărul sezonului</label>
          <input placeholder="Numărul sezonului" v-model="edit.anime.SeasonNumber" />
        </li>
        <li class="input" id="input-episodes">
          <label>Numărul de episoade</label>
          <input placeholder="Numărul de episoade" v-model="edit.anime.Episodes" />
        </li>
        <li class="input" id="input-duration">
          <label>Durata episodului</label>
          <input placeholder="Durata episodului" v-model="edit.anime.Duration" />
        </li>
        <li class="input" id="input-genre">
          <label>Genul seriei</label>
          <vcTagSelect placeholder="Genul seriei" :tags="edit.anime.Genre"></vcTagSelect>
        </li>
        <li class="input" id="input-rating">
          <label>Nota seriei</label>
          <input placeholder="Nota seriei" v-model="edit.anime.Rating" />
        </li>
        <li class="input" id="input-published">
          <label>Data premierei</label>
          <vcDateSelect :timestamp.sync="edit.anime.Published" :time="true"></vcDateSelect>
        </li>
        <li class="input" id="input-airing">
          <label>În curs</label>
          <vcDateSelect :timestamp.sync="edit.anime.Airing"></vcDateSelect>
        </li>
        <li class="input" id="input-description">
          <label>Descriere</label>
          <textarea placeholder="Descriere" v-model="edit.anime.RODesc" />
        </li>
        <li class="input" id="input-tags">
          <label>Tag-uri</label>
          <vcTagSelect placeholder="Tag-uri" :tags="edit.anime.Tags"></vcTagSelect>
        </li>
        <li class="input" id="input-coordinators">
          <label>Coordonatori</label>
          <vcUserSelect placeholder="Adaugă un coordonator" :users="edit.anime.Coordinators"></vcUserSelect>
        </li>
        <li class="input" id="input-encoders">
          <label>Encoderi</label>
          <vcUserSelect placeholder="Adaugă un encoder" :users="edit.anime.Encoders"></vcUserSelect>
        </li>
        <li class="input" id="input-translators">
          <label>Traducători</label>
          <vcUserSelect placeholder="Adaugă un traducător" :users="edit.anime.Translators"></vcUserSelect>
        </li>
        <li class="input" id="input-verifiers">
          <label>Verificatori</label>
          <vcUserSelect placeholder="Adaugă un verificator" :users="edit.anime.Verifiers"></vcUserSelect>
        </li>
        <li class="input" id="input-cover">
          <label>Copertă</label>
          <input placeholder="Copertă" v-model="edit.anime.Cover" />
        </li>
        <li class="input" id="input-trailer">
          <label>Trailer</label>
          <input placeholder="Trailer" v-model="edit.anime.Trailer" />
        </li>
      </ul>
    </main>
    <main v-else class="index">
      INDEX
    </main>
  </div>
</template>

<script>
import util from '../../../util.funcs.js';

export default {
  props: [ "data" ],
  data() {
    return {
      edit: this.data || { },
      select: { 
        anime: {
          selected: null,
          text: "Alege un anime",
          options: [],
          disabled: (this.data && this.data.anime),
          fn: {
            OnSelect: this.OnAnimeSelect
          }
        },
        episode: {
          selected: null,
          text: "Alege un episod",
          options: [],
          disabled: (this.data && this.data.episode),
          fn: {
            OnSelect: this.OnEpisodeSelect
          }
        }
      }
    }
  },
  methods: {
    defaults() {
      const defaults = {
        anime: null,
        episode: null
      }
      return Object.assign(defaults, JSON.parse(JSON.stringify(this.data)));
    },
    animeToString(anime) {
      return (anime) ? `(ID: ${anime.LinkID}) ${anime.JPTitle}` : "(?) Anime invalid";
    },
    episodeToString(episode) {
      return (episode) ? `(ID: ${episode.EpisodeID}) Episodul ${episode.Episode}: ${episode.ROTitle}` : "(?) Episod invalid";
    },
    OnAnimeSelect(id) {
      // must load from db !
    },
    OnEpisodeSelect(id) {
      this.edit.episode = this.edit.anime.episodeList[id];
    },
    accept() {
      alert("changes accepted");
    },
    decline() {
      alert("changes declined");
      this.edit = this.original;
    }    
  },
  computed: {
    bindSelectAnime() {
      if (!this.edit.anime) this.select.anime.selected = null;

      this.select.anime.options = [];
      for (let i = 0; i < this.$store.state.anime.length; i++) {
        this.select.anime.options.push({ text: this.animeToString(this.$store.state.anime[i]) });

        if(this.edit.anime && this.edit.anime.LinkID == this.$store.state.anime[i].LinkID) this.select.anime.selected = i;
      }
      return this.select.anime;
    },
    bindSelectEpisode() {
      if (!this.edit.episode) this.select.episode.selected = null;

      this.select.episode.options = [];
      if (this.edit.anime) {
        for (let i = 0; i < this.edit.anime.episodeList.length; i++) {
          this.select.episode.options.push({ text: this.episodeToString(this.edit.anime.episodeList[i]) });

          if(this.edit.episode && this.edit.episode.EpisodeID == this.edit.anime.episodeList[i].EpisodeID) this.select.episode.selected = i;
        }        
      }
      return this.select.episode;
    },
    animeCount() {
      return this.$store.state.anime.length;
    },
    episodeCount() {
      return this.edit.anime.episodeList.length;
    }
  },
  watch: {
    'edit.anime': {
      handler(after, before) {    
        if (!after || !before) return; // it was null before or after
        if (before.pending == true && !after.pending) return; // if change has been declined
        if (before.LinkID != after.LinkID) return; // switching anime

        this.edit.anime.pending = true;
      },
      deep: true
    },
    'edit.episode': {
      handler(after, before) {
        if (!after || !before) return;

        this.edit.episode.pending = true;
      },
      deep: true
    }
  }
}
</script>

<style lang="scss">
@import "~styles/defines/colours.scss";

.__vc-section {
  >header {
    label.select {
      display: block;
      font-size: 20px;
    }
    .__vc-select {
      width: 80%;
    }
  }
  >main {
    ul.form {
      display: grid;
      grid-template-areas: "id jptitle entitle myanimelist"
                           "season n_season episodes duration"
                           "genre rating published airing"
                           "description description description tags"
                           "coordinators encoders translators verifiers"
                           "cover           .     trailer         .    ";

      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      grid-column-gap: 20px;
      grid-row-gap: 20px;
      margin-top: 20px;
      padding: 10px;
      border-radius: 4px;
      border: 1px solid #04142e;
      background-color: rgba(0, 0, 0, 0.4);
      li.input {
        display: flex;
        flex-direction: column;
        >label {
          padding: 5px;      
          border-bottom: 2px solid darken($c-teal, 20%);
          color: darken($c-teal, 20%);
          font-family: 'Titillium Web';
          font-size: 14px;
          font-weight: 600;
        }
      }
      li.input#input-id {
        grid-area: id;
      }
      li.input#input-jptitle {
        grid-area: jptitle;
      }
      li.input#input-entitle {
        grid-area: entitle;
      }
      li.input#input-myanimelist {
        grid-area: myanimelist;
      }
      li.input#input-season {
        grid-area: season;
      }
      li.input#input-n_season {
        grid-area: n_season;
      }
      li.input#input-episodes {
        grid-area: episodes;
      }
      li.input#input-duration {
        grid-area: duration;
      }
      li.input#input-genre {
        grid-area: genre;
      }
      li.input#input-rating {
        grid-area: rating;
      }
      li.input#input-published {
        grid-area: published;
      }
      li.input#input-airing {
        grid-area: airing;
      }
      li.input#input-description {
        grid-area: description;
      }
      li.input#input-tags {
        grid-area: tags;
      }
      li.input#input-coordinators {
        grid-area: coordinators;
      }
      li.input#input-encoders {
        grid-area: encoders;
      }
      li.input#input-translators {
        grid-area: translators;
      }
      li.input#input-verifiers {
        grid-area: verifiers;
      }  
      li.input#input-cover {
        grid-area: cover;
      }
      li.input#input-trailer {
        grid-area: trailer;
      }
    }  
  }
}
</style>
