@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700');

@import './clean.scss';
@import './defines/access.scss';
@import './defines/icons.scss';
//@import "./defines/fx.scss";
@import './defines/colours.scss';
@import './defines/fx.scss';

// z-indexes:
// header: 50;
// modal: 30;
// window: 25;
// dropdown: 10;


html, body {
	height: 100%;
	min-width: 1260px;
}

body {
  color: nth($c-teal, 1);
  font-family: 'Open Sans';
  font-size: 13px;  
}

a {
  color: inherit;
	text-decoration: inherit;
	
	transition: color .15s linear, text-shadow .15s linear, background-color .15s linear;
	cursor: pointer;
	
	&:not(.grad):not(.router-link-active).hover{
		color: lighten(nth($c-teal, 1), 20%); 
		text-shadow: 0 0 1px nth($c-teal, 1) !important;
	}
}

textarea {
	min-height: 85px;
}
input, textarea {
	padding: 0 4px 0 4px;
	border-radius: 2px;
	color: $c-teal;

	&:not(.clear) {
		transition: background-color .2s ease;
		&:hover:not(:focus):not(:disabled) {
			background-color: rgba($c-teal, .2);
		}
		&:focus {
			background-color: rgba($c-teal, .3);
		}
		&:disabled {
			background-color: transparent;
		}
	}	
	background: none;
	background-image: none;
	appearance: none; -webkit-appearance: none; -moz-appearance: none;
	outline: none;
	box-shadow: none;
	border: none;
	resize: none;
}

::selection {
	overflow: hidden;
	background-color: darken(nth($c-teal, 1), 5%);
	color: black;
}

@mixin __placeholder($color: nth($c-teal, 1)) {
	color: $color;
	font-family: 'Open Sans';
	font-size: 12px;
	opacity: .6;
}

@mixin set_placeholder($color: $teal) {
	&::-webkit-input-placeholder {
		@include __placeholder($color);
	}
	&::-moz-placeholder {
	  @include __placeholder($color);
	}
	&:-ms-input-placeholder {
	  @include __placeholder($color);
	}
	&:-moz-placeholder {
	  @include __placeholder($color);
	}
	&:placeholder-shown {
		text-shadow: none !important;
	}
}

input, textarea {	
  background: none;
  background-image: none;
  -webkit-appearance: none; -moz-appearance: none;
  outline: none;
  box-shadow: none;

	font-family: 'Open Sans';
	font-size: 12px;
	text-align: justify;
	@include set_placeholder(nth($c-teal, 1));
	&:disabled {
		@include set_placeholder(white);
	}
}

::-webkit-scrollbar {
  width: 10px;
  background-color: nth($c-darkcyan, 1);
  -webkit-border-radius: 2px;
}
::-webkit-scrollbar-track {
  background-color: nth($c-darkcyan, 1);
  border-left: 1px solid rgba(nth($c-teal, 1), .8);
  border-right: 1px solid rgba(nth($c-teal, 1), .8);
  -webkit-border-radius: 4px;
}
::-webkit-scrollbar-thumb {
  border: 1px solid rgba(nth($c-teal, 1), .6);
  -webkit-border-radius: 4px;
  background-color: rgba(nth($c-teal, 1), .3);
  
  cursor: pointer;
}
::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}
::-webkit-scrollbar-corner {
    background-color: transparent;
}